/* pour mettre un en tete fixe */
.fixed {
  background-color: lightblue;
  left: 0px;
  height: 200px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 1000;
}

.placeholder {
  height: 200px;
  width: 100%;
}

.vertical-align {
  vertical-align: middle;
}

.vertical-center {
  left: 0px;
  position: relative;
  top: 5px;
}
.rectangle {
  background-color: pink;
  height: 200px;
  position: relative;
  width: 300px;
}

/*l'enfant doit etre en position relative */
.rectangle {
  position: relative;
}

/*L'enfant doit etre en position absolute */
.rectangle p {
  left: 50%;
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
